*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    
    border-radius: 12px;
    background-color: rgb(125, 110, 143);
    padding: 35px;
    

}
h1{
    color: rgb(222, 19, 83);
}

#kelvin, #fahrenheit, #cell{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

input{
    flex: 5;
    height: 50px;
    width: 60%;
    font-size: larger;
    text-align: center;
    border: none;
    
    border-radius: 10px 0 0 10px;
   
}
.icon{
    flex: 1;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    background-color: #4d5964;
    border-radius: 0 10px 10px 0;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: larger;

}
button{
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    background-color: rgb(27, 82, 11);
    color: white;
    border: none;
    font-size: large;
    margin-left: 27%;
    margin-top: 30px;
}
button:hover{
    background-color: rgb(8, 18, 21);
    cursor: pointer;
}

input::-webkit-outer-spin-button
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

body{
    background-image: url(./img/d12c6dfc7cc79691f2623c232931c8c6.jpg);
    
}
background-image{
    opacity: 0.2;
}